extends layout

block content
  h1(id = "PageName")= title
  p(id="WelcomeText") Welcome to #{title}
  p(id="WelcomeText") Here we have gathered a wide assorment of recipes from every corner of the world with all the options you could dream of. When you find yourself in a pickle, not knowing what to make for dinner or perhaps you can't remember that one breakfast recipe, come to little chefs. Here you can find all of that and more. Craving beef just don't know what to make, use our recipe search and enter a filter to find only those beef recipes. Perhaps you want to have a vegan meal, don't worry little chefs got you covered. If you have alergies there is no need for worry as we have filters to prevent anything of the sort from showing up when you add those allergies to your profile. Not sure what you want? Go to the recipes page and just browse around until something catches your eye.
  br
  br
  br
  div(class = "container")
    div(class = "text-column")
      p Here is an image of one of our favorites and most popular recipes here at little chefs. Tator Tot casserole a delectable cheesy feast with enough to go around for the whole family 
    div(class = "image-column")
      a(
        href="/search"
      )
        img(src="/images/Tot.webp")
  div(class = "container")
    div(class = "image-column")
      a(
        href="/search"
      )
        img(src="/images/Tot.webp")
    div(class = "text-column")
      p Here is an image of one of our favorites and most popular recipes here at little chefs. Tator Tot casserole a delectable cheesy feast with enough to go around for the whole family 
  div(class = "container")
    div(class = "text-column")
      p Here is an image of one of our favorites and most popular recipes here at little chefs. Tator Tot casserole a delectable cheesy feast with enough to go around for the whole family 
    div(class = "image-column")
      a(
        href="/search"
      )
        img(src="/images/Tot.webp")
  